@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 30px;
}

.logo {
  height: 50px;
}

.header-buttons .btn {
  margin-left: 10px;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.login-btn {
  background-color: #65c5e8;
}

.signup-btn {
  background-color: #65c5e8;
}

.main-content {
  text-align: center;
  margin-top: 100px;
}

.main-title {
  color: #65c5e8;
  font-family: 'BebasNeue', sans-serif;
  font-size: 80px;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.subtitle {
  font-size: 30px;
  color: #65c5e8;
  font-family: 'OpenSans', sans-serif;
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 50px;
}

.description {
  font-size: 15px;
  color: black;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

.cta-btn {
  display: inline-block;
  margin-top: 20px;
  background-color: #65c5e8;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.cta-btn:hover {
  background-color: #4aa3c9;
}